﻿@model Clockwork.Web.Models.TimeListModel
<script>
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("output").innerHTML = this.responseText;
                var timeResponse = JSON.parse(this.responseText);
                document.getElementById("time").innerHTML = timeResponse.time;
                document.getElementById("utcTime").innerHTML = timeResponse.utcTime;
                document.getElementById("clientIP").innerHTML = timeResponse.clientIp;
            }
        };
        xhttp.open("GET", "http://127.0.0.1:5000/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();

    }
</script>
<script type="text/javascript">
    function changeTimeZone() {
        var eID = document.getElementById("ZoneSelection");
        var colorVal = eID.options[eID.selectedIndex].value;
        var colortxt = eID.options[eID.selectedIndex].text;
       
        alert(@Html.DisplayFor(modelItem => Model.SelectedZone));
    }
</script>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h1>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h1>
    <p class="lead">The AWH Clockwork is a place to get the time.</p>
    <button class="btn btn-primary btn-lg" type="submit" onclick="UserAction()">Get the time</button>
    @Html.DropDownListFor(modelItem =>Model.SelectedZone, new SelectList(Model.TimeZones, "ID", "DisplayName"))
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Current Time</h2>
        <dl class="dl-horizontal">
            <dt>
                Time:
            </dt>

            <dd>
                <p id="time"></p>
            </dd>
            <dt>
                UTC Time:
            </dt>
            <dd>
                <p id="utcTime"></p>
            </dd>
            <dt>
                Client IP:
            </dt>

            <dd>
                <p id="clientIP"></p>
            </dd>

            <dt>
                Raw JSON:
            </dt>

            <dd>
                <p id="output"></p>
            </dd>

        </dl>
    </div>
    <div class="col-md-7">
        <h2>List of Times Requested</h2>
        <table class="table">

            <tr>
                <th>UTC Time</th>
                <th>Time</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Times)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UTCTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Time)
                    </td>
                </tr>
                <tr></tr>
            }
        </table>
    </div>
</div>


